@namespace Placer.Wasm1.Shared

@if (string.IsNullOrEmpty(Href))
{
  <span class="@cls" @onclick="onClickCallback">
    @text
  </span>
  @InnerElement
}
else
{
  @switch (LinkType)
  {
    case LinkTypes.None:
      <span class="@cls" @onclick="onClickCallback">
        @text
      </span>
      @InnerElement
      break;
    case LinkTypes.NextToName:
      <span class="@cls" @onclick="onClickCallback">
        @text
        @InnerElement
      </span>
      <a href="@Href" class="@LinkClass">open</a>
      break;
    case LinkTypes.EntireName:
      <span class="@cls">
        <a href="@Href" class="@LinkClass">@text</a>
      </span>
      @InnerElement
      break;
  }
}
@code {
  [Parameter] public string Name { get; set; }
  [Parameter] public string Href { get; set; }
  [Parameter] public LinkTypes LinkType { get; set; } = LinkTypes.NextToName;
  [Parameter] public Microsoft.AspNetCore.Components.EventCallback onClickCallback { get; set; }
  [Parameter] public string ExtraClass { get; set; }
  [Parameter] public string LinkClass { get; set; }
  [Parameter] public RenderFragment InnerElement { get; set; }
  string text => Name ?? "no-name";
  bool noName => Name == null;
  string cls => string.Join(" ", new List<string>() { "name-component", (noName ? "no-name" : null), ExtraClass });
}