@using Api1.Types.ThingDefinition
@inherits GG<I, Shallow, Deep, Guid>
@inject Client client
<Named Name="@Common?.Name"
       Href="@($"/td/{ID}")"
       LinkType="@this.LinkType"
       onClickCallback="@ToggleExpand"
>

</Named>
@if (Common != null)
{
  @if (ParamIsTopLevel)
  {
    <a href=@($"/scope/{Common.Scope.Scope.ID}")>scope</a>
  }
}
@if (Expanded)
{
  @if (IsDeep)
  {
    @if (Deep.Instances.Any())
    {
      <div style="border: solid black 1px">
        @foreach (var item in Deep.Instances.OrderByDescending(item => item.Start))
        {
          <div>
            <Placer.Wasm1.Components.Thing ParamID="@item.ID" ParamShallow="@item" ParamHideDefinition="true" />
          </div>
        }
      </div>
    }
  }
}
@code {
  protected override async Task<Deep> GetDeep() => await client.GetThingDefinition(ID);
}
