@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<Table PageSize="15" TableItem="Placer.Api1.Types.Scope.Shallow">
  <Column Title="swx" Field="15" Width="10%" />
</Table>
@*<Table TableItem="PersonData" Items="data" PageSize="15">
  <Column TableItem="PersonData" Title="Id" Field="@(x => x.id)" Sortable="true" Filterable="true" Width="10%" />
  <Column TableItem="PersonData" Title="First Name" Field="@(x => x.first_name)" Sortable="true" Filterable="true" Width="20%" />
  <Column TableItem="PersonData" Title="Last Name" Field="@(x => x.last_name)" Sortable="true" Filterable="true" Width="20%" />
  <Column TableItem="PersonData" Title="Email" Field="@(x => x.email)" Sortable="true" Filterable="true" Width="20%">
    <Template>
      <a href="mailto:@context.email">@context.email</a>
    </Template>
  </Column>
  <Column TableItem="PersonData" Title="Confirmed" Field="@(x => x.confirmed)" Sortable="true" Filterable="true" Width="10%" />
  <Column TableItem="PersonData" Title="Price" Field="@(x => x.price)" Sortable="true" Filterable="true" Width="10%" Format="C" Align="Align.Right" />
  <Column TableItem="PersonData" Title="Created Date" Field="@(x => x.created_date)" Sortable="true" Width="10%">
    <Template>
      
    </Template>
  </Column>
  <Pager ShowPageNumber="true" ShowTotalCount="true" />
</Table>*@